
body{
  overflow-x:hidden ;
}

/* styling for dark mode toggle */
/* Light Mode Styles */
body {
    background-color: #ffffff;
    color: #333333;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Dark Mode Styles */
  body.dark-mode, body.dark-mode * {
    background-color: #0b0b0b !important;
    color: #ffffff !important;
  }
  
  /* body.dark-mode header {
    background-color: #1a1a1a;
  } */

   /* text format for dark mode logo text */
  .non-italic {
    font-style: normal; /* Set font style to normal (non-italic) */
  }

  /* end of styling for dark mode toggle */

  .head{
    font-family:'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bolder;
  }

  .card-title{
    font-size: 35px !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }

  .card-text{
    font-family: 'Poppins', sans-serif;
  }

  .skills{
    font-family:'Open Sans', sans-serif;
    font-size: 25px !important;
    font-weight: bolder;
  }

  .desktop_image{
    display: none;
  }

  .project_title{
    font-family: 'Playfair Display', serif;
  }
 


.message_input{
  height: 100px!important;
}

/* form -validation */
   /* showerror for form validation */
   .form-control p{
    font-style: italic;
    font-size: 12px;
    color: red;
    text-align: start;
    font-family: 'Alata', sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    visibility: hidden;
  }
  
  .form-control.error input{
    border-color: red;
  }
  
  .form-control.error p{
    visibility: visible;
  }
  
  /* end of error msg */



  /* success box  */
.success_box{
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  margin-top: -500px;
  display: none;
  
}

.success_article{
  font-family: 'Roboto', sans-serif; 
  padding: 40px;
  margin-top: 25px;
}

.p_successArticle{
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 25px;
  line-height: 25px;
}

.success_btn{
  width: 180px;
  height: 30px;
  background-color:rgb(228, 155, 44);
  text-align: center;
  border: 1px solid;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.success_btn:hover{
    background-color:rgb(237, 197, 136);
    color: black;
}

.success-message.success form{
  visibility: hidden;
  
}

.success-message.success form p{
  visibility: hidden;
}



.success-message.success .success_box{
  display: block;
}
/* end of sucess box */
/* end form validation */















  @media (min-width: 992px) { 

    .title_text{
      font-size: 55px;
    }

    .project_h1{
      font-size: 55px!important;
   }

   .skills{
    font-family:'Open Sans', sans-serif;
    font-size: 35px !important;
    font-weight: bolder;
  }

  }